<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Plant Disease Detector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <!-- STYLE CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="icon" href="img/leaf.png" type="image/x-icon">
</head>

<body>
    <div class="container">
    <div class="wrapper">
        <div class="heading">
            PLANT DISEASE DETECTOR</div>
        <div class="text">
            <p><b>Share a picture of the plant and get immediate results!</b></p>
        </div>
    </div>
    <div class="inner">
        <form id="analysis-form" enctype="multipart/form-data">
            <div class="imgbox"><img src="{{ url_for('static', filename='img.jpg') }}" class="img" id="selected_image" alt="Image">
                <div class="middle">
                    <div class="add"><span>
                    <input name="Select File" id="imagefile" type="file" /></span></div>
                </div>
            </div>
            <button id="analyze-button" class="analyze-button">
                <span>Analyze</span>
            </button>
        </form>
        <div>
            <p>{{ prediction_text }}</p>
        </div>
    </div>
</div>
    

    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
</body>

</html>